form{
    justify-content: center;
    border-top: 2px solid #000;
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 15px;
    .form-control{
        gap: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        label{
            margin-top: 5px;
            font-size: 22px;
            color: #000;
        }
        select{
            font-size: 22px;
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px;
            transition: color .3s ease;
            //TODO - change the color when an option is selected
            &:not(:visited){
                color: rgb(173,173,173);
            }
            
            option{
                color: #000;
                &:first-of-type{
                    color: rgb(173,173,173) !important;
                }
                &:checked{
                    color: rgb(194,24,91);
                }
                
                
            }
            &.ng-invalid.ng-touched{
                border: 2px solid red;
            }
       
        }
        
    }
    button{
        margin-top: 10px;
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

@media screen and (max-width: 1030px) {
    form{
        display: flex;  
        flex-direction: column;
        justify-content: center; // TODO - make it grid
        button{
            margin-top: 15px;
        }
        
    }
    .form-control{
        max-width: 100%;
        label{
            font-size: 18px !important;
        }
        input{
            &::placeholder{
                font-size: 16px;
            }
        }
        select{
            font-size: 14px !important;
        }
    }
    
}
