<form (ngSubmit) = "onSubmit()">
    <div class="form-control">
        <label for="product_name">Название</label>
        <input type="text" name="product_name" [(ngModel)] = "product_name" id = "product_name" placeholder="Молоко...">
    </div>
    <div class="form-control">
        <label for="quantity">Количество</label>
        <input type="number" name="product_quantity" [(ngModel)] = "product_quantity" id = "product_quantity" placeholder="70...">
    </div>
    <div class="form-control">
        <label for="unit_cost">Цена</label>
        <input type="number"  name="unit_cost" [(ngModel)] = "unit_cost" id = "unit_cost" placeholder="5000...">
    </div>
    <button mat-button mat-raised-button color = "primary" type="submit">Добавить продукт</button>
</form>
