.title{
    font-size: 24px;
    font-weight: 700;
}
.titles{
    padding: 0 5px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    font-size: 22px;
    color: #000;
    &__um{
        transform: translateX(-5px) ;
    }
}
.product-list{
   position: relative;
   background-color: #fff;
   padding: 30px 30px 15px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   border: 1px solid black;
   border-radius: 20px;
   margin: 20px 0 0;
   .empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 18px;
   }
   
}



.open-add-menu{
    cursor: pointer;
    align-self: center;
    transition: all .3s ease-out;
    &:hover{
        transform: scale(1.2);
    }
    .closed {
        .vertical {
          transition: all 0.5s ease-in-out;
          transform: rotate(-90deg);
        }
        .horizontal {
          transition: all 0.5s ease-in-out;
          transform: rotate(-90deg);
          opacity: 1;
        }
      }
      
      .opened {
        opacity: 1;
        .vertical {
          transition: all 0.5s ease-in-out;
          transform: rotate(90deg);
        }
        .horizontal {
          transition: all 0.5s ease-in-out;
          transform: rotate(90deg);
          opacity: 0;
        }
      }
      
      .circle-plus {
          height: 2em;
          width: 2em;
          font-size: 1em;
          
      }
      
      .circle-plus .circle {
          position: relative;
          width: 2.55em;
          height: 2.5em;
          
      }
      .circle-plus .circle .horizontal {
          position: absolute;
          background-color: rgb(194,24,91);
          width: 30px;
          height: 5px;
          left: 50%;
          margin-left: -15px;
          top: 50%;
          margin-top: -2.5px;
      }
      .circle-plus .circle .vertical {
          position: absolute;
          background-color: rgb(194,24,91);
          width: 5px;
          height: 30px;
          left: 50%;
          margin-left: -2.5px;
          top: 50%;
          margin-top: -15px;
      }
      
}



@media screen and (max-width: 1024px) {
    .titles{
        display: none;
    }
    
}
