<div mat-raised-button class="product">
    <p class = "product__id">{{ product.id }}</p>
    <p class = "product__name">{{ product.name }}</p>
    <p class = "product__quantity">{{ product.quantity}}</p>
    <p class = "product__price">{{ product.unit_cost }}₽</p>
    <p class = "product__unit-measurement">{{ product.measure.value }}</p>
    <div class="product__icons">
        <fa-icon [icon] = "faInfo" (click)="openShowProductDialog()" class = "icon info"></fa-icon>
        <fa-icon [icon] = "faEdit" class = "icon edit" (click) = openChangeProductDialog()></fa-icon>
        <fa-icon (click) = "onDelete(product)" [icon] = "faTrash" class = "icon trash"></fa-icon>
    </div>
</div>
