<div mat-raised-button class="product">
    <p class = "product__id" (click)="openShowProductDialog()">{{ product.id }}</p>
    <p class = "product__name" (click)="openShowProductDialog()">{{ product.name }}</p>
    <p class = "product__quantity" (click)="openShowProductDialog()">{{ product.quantity}}</p>
    <p class = "product__price" (click)="openShowProductDialog()">{{ product.unit_cost }}₽</p>
    <div class="product__icons">
        <fa-icon [icon] = "faPen" class = "icon pen" (click) = openChangeProductDialog()></fa-icon>
        <fa-icon (click) = "onDelete(product)" [icon] = "faTimes" class = "icon cross"></fa-icon>
    </div>
</div>
