.dialog-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 394px) {
    .actions{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}