.dialog-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .form-control{
        display: flex;
        flex-direction: column;
        .validation{
            margin: 0;
        }
        select{
            font-size: 22px;
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px;
            transition: color .3s ease;
            
            &.ng-invalid.ng-touched{
                border: 2px solid red;
            }
       
        }
    }
    
}

@media screen and (max-width: 394px) {
    .actions{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}