<h2 style = "font-weight: 700;" mat-dialog-title>Изменить продукт</h2>
<div mat-dialog-content>
    <form [formGroup] = "changeForm" class = "dialog-form" (ngSubmit) = "onFormSubmit()">
        <div class="form-control">
            <label for="product_name">Название</label>
            <input id = "product_name" name = "product_name" required matInput  type="text" placeholder="Укажите новое название" formControlName = "name">
            <div *ngIf="name.touched && name.errors?.['required']" class = "validation">Это поле должно быть заполнено!</div>
        </div>

        <div class="form-control">
            <label for="product_quantity">Количество</label>
            <input id = "product_quantity" required matInput min="0" type="number" placeholder = "Укажите новое кол-во" formControlName = "quantity">
            <div *ngIf="quantity.touched && quantity.errors?.['required']" class = "validation">Это поле должно быть заполнено!</div>
            <div *ngIf = "quantity.touched && quantity.errors?.['min']" class = "validation">Количество не может быть отрицательным!</div>
        </div>

        <div class="form-control">
            <label for="unit_cost">Цена</label>
            <input id = "unit_cost" required matInput min="0" type="number" placeholder = "Укажите новою цену" formControlName = "unit_cost">
            <div *ngIf="unit_cost.touched && unit_cost.errors?.['required']" class = "validation">Это поле должно быть заполнено!</div>
            <div *ngIf = "unit_cost.touched && unit_cost.errors?.['min']" class = "validation">Цена не может быть отрицательной!</div>
        </div>
        <div class="form-control">
            <label for="unit_measurment">Единица измерения</label>
            <select formControlName = "unit_measurement"  name="unit_measurment" id="unit_measurment">
                <option *ngFor="let um of unitMeasurements" [ngValue] = "um" value="">{{ um.value }}</option>
            </select>
            <!-- <div *ngIf="unit_measurement.touched && unit_measurement.errors?.['required']" class = "validation">Это поле должно быть заполнено!</div> -->
        </div>
        
    </form>
</div>
<div mat-dialog-actions class = "actions">
    <button [disabled] = "changeForm.invalid" type = "submit" mat-button mat-raised-button [mat-dialog-close]="true" (click) = "onFormSubmit()" color = "primary">Сохранить изменения</button>
    <button mat-button mat-raised-button [mat-dialog-close]="true">Отмена</button>
</div>