/* You can add global styles to this file, and also import other style files */
@import "nullstyle.scss";
//TODO - colors
.container{
    display: flex;
    flex-direction: column;
}

.validation{
    font-size: 14px;
    align-self: center;
    color: red;
    margin-top: -10px;
    font-weight: 700;
}

body{
    color: rgb(173,173,173);
    background-color: rgb(66,66,66);
    padding: 30px;
    
}

input{
    font-size: 22px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    
    
    &::placeholder{
        color: rgb(115, 115, 115);
    }
    
    &::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }
    &.ng-invalid.ng-touched{
        border: 2px solid red;
        }
}

