/* You can add global styles to this file, and also import other style files */
@import "nullstyle.scss";
//TODO - colors
.container{
    display: flex;
    flex-direction: column;
}



body{
    color: rgb(173,173,173);
    background-color: rgb(66,66,66);
    padding: 30px;
    
}


